/*THESE ARE TEMP STYLES TO MAKE THINGS EASIER TO LOOK AT*/
*{
    text-align: center;
}

div{
    margin: 10px;
    border: 2px solid black;
    animation: growIn 1s
}

p {
  margin: 10px;
  border: 2px solid black;
}

h2 {
  margin: 10px;
  border: 2px solid black;
}

.input {
  border: 2px solid black;
}

.btn {
  border: 2px solid black;
}

/* start screen */

#start-btn {
    animation: bounce 1s infinite alternate;
}

/* game screen */

#current-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#game-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#def-container{
  display: flex;
}

#def-p-container{
 width: 100%;
}

/* end screen */

#final-score-display{
  display: flex;
  justify-content: center;
}

#new-hs-container{
  display:flex;
  flex-direction: column;
}

#final-lists-container{
  display: flex;
  justify-content: center;
}



/*--------------------------ANIMATIONS------------------------------*/
@keyframes bounce {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
    /*use this with - animation: bounce 1s infinite alternate*/

}

@keyframes bounce {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
    /*use this with - animation: bounce 1s infinite alternate*/

}

@keyframes growIn {
    from {
        transform: scale(0);
    }
 
    /*use this with - animation: growIn 1s*/

}